*.bbl
*.fls
dissertation.fls
*.blg
*.log
*.fdb_latexmk
dissertation.fdb_latexmk
*.toc
*.gz
*.aux
*.out
dissertation.pdf
propositions.pdf
*.ppm
*.out.pdf
thesis-*.pdf
dissertation-merged.pdf
*.ipynb_checkpoints/
